<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
</head>
<body>
<div id = "aa">

<div class="w3-container">
  <style>
#topa {
  overflow: hidden;
  position: fixed;
  background-color: #D1E0EC;
  top: 0;
  margin: auto;
  width:48rem;

}

.#topa a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 10px;
}

@media only screen and (max-width: 600px) {
#topa {
  width:100%;
}
}
#topa a:hover {
  background-color: #d1a000;
  color: black;
}
.w3-table {
  margin: auto;
}

</style>

<div id ="topa" class =" topnav">

  <table class="w3-table w3-centered" style ="text-align:center;">
    <tr>
  <th><a href = "#0"><button class="deo w3-button w3-border w3-round-large"><i class="fa fa-ship"></i> 배가 뜨는 원리</button></a></th>
  <th><a href = "#1"><button class="deo w3-button w3-border w3-round-large"><i class="fa fa-files-o"></i> 내인설과 열린안</button></a></th>
    <th><a href = "#2"><button class="deo w3-button w3-border w3-round-large"><i class="fa fa-camera-retro"></i> CCTV 바꿔치기 의혹</button></a></th>
</tr>

</table>
<table class="w3-table w3-centered" style ="text-align:center;">
<tr>
<th><a href = "#3"><button class="deo w3-button w3-border w3-round-large"><i class="fa fa-newspaper-o"></i> 오보 사태</button></a></th>
<th><a href = "#4"><button class="deo w3-button w3-border w3-round-large"><i class="fa fa-ship"></i> 선체 직립</button></a></th>
  <th><a href = "#5"><button class="deo w3-button w3-border w3-round-large"><i class="fa fa-line-chart"></i> AIS 조작설</button></a></th>
    <th><a href = "#6"><button class="deo w3-button w3-border w3-round-large"><i class="fa fa-car"></i> 선내 블랙박스</button></a></th>
</tr>
</table>
<hr>
</div>

<div id = "bottomNav">

<br><br><br><br><br><br>
<div class = "w3-container" id = "0">
  <div style = "padding:80px">
  </div>
  <h2>배가 뜨는 원리</h2>
  <tr><hr>
    <div class="w3-center w3-container">
    <img src="../DATA/1.jpg" style="width:70%; align: center;">
    </div>
    <br><br>
 <button class="collapsible"><i class="fa fa-hand-o-right"></i> </i>평형수 <tr>▽</button>
 <div class= "content"><br>
     <p><b>일반적인 배는 평형수를 필요에 따라 넣고 뺀다</b><br>

선박이 화물이 없는 경하 상태에서는 충분한 깊이까지 잠기지 않으므로, 평형수를 채워 무게를 증가시킵니다. 세간에 알려진 것과 달리, 화물선은 원래 평형수를 빼고 화물을 싣습니다. 화물이 대신 무게를 증가시켜주기 때문입니다. 정상적인 복원성을 지닌 배라면 이렇게 평형수를 빼고 화물을 실어도 아무 문제가 없습니다.

<br><br><b>세월호는 기형적인 선박이었기에 문제가 된다</b><br>

하지만, 세월호는 객실을 증설함으로써 무게중심이 높아졌고 복원성이 악화된 배였습니다. 세월호는 화물적재량을 원래의 2500t에서 1070t으로 대폭 줄이고 그 대신 평형수 1700t을 늘 채우는 조건으로 증설이 허가됐습니다. 이 조건 하에서만 복원성을 만족하는 기형적인 선박이었기에, 평형수를 빼는 것이 문제가 되는 것입니다.
     </p>
     <br>
       <a href="https://m.khan.co.kr/opinion/contribution/article/201704112114025"  target="_blank"><button class="w3-button w3-round-xxlarge w3-white w3-center">세월호가 불러온 평형수에 대한 오해 <i class="fa fa-external-link" aria-hidden="true"></i></button></a>

     <br><br><br>
 </div>
 <button class="collapsible"><i class="fa fa-hand-o-right"></i> </i>부력 <tr>▽</button>
 <div class= "content">
   <br>
   <p>
     물 속에 있는 물체는 항상 부력을 받습니다. 부력은 중력과 반대 방향인 위쪽으로 향하는 힘을 말하는데,
      무거운 배 또한 이러한 부력의 힘으로 물 위를 떠다닐 수 있습니다. 물체의 밀도가 물의 밀도보다 작을 때 부력을 더 크게 받아서 뜰 수 있기 때문에, 물체의 밀도를 물(물의 밀도=1)보다 작게 하여 물 위에 뜰 수 있게 합니다.
     쇠로 되어 있는 배도, 안에 빈 공간이 있고 이를 포함해 밀도를 계산하면 물보다 밀도가 낮기 때문에 뜰 수 있습니다.
   </p>
   <br>
  <a href="https://www.sciencetimes.co.kr/news/%EB%B0%B0%EA%B0%80-%EB%9C%A8%EB%8A%94-%EC%9B%90%EB%A6%AC/"  target="_blank"><button class="w3-button w3-round-xxlarge w3-white w3-center">배가 뜨는 원리 <i class="fa fa-external-link" aria-hidden="true"></i></button></a>

     <br>
     <br><br><br>
 </div>
 <button class="collapsible"><i class="fa fa-hand-o-right"></i> </i> 복원성(GoM) <tr>▽</button>
 <div class= "content">
     <p>외부로부터 받은 외력으로 기울어진 선체가 본래대로 복원되는 특성을 복원성이라고 합니다.
       이때, 선박이 앞뒤로 전복이 되는 경우는 극히 드물기 때문에 대게 양 옆으로 기울어졌을 때의 복원력만을 고려합니다.<br><br>
       GoM값이 낮으면 낮을수록, 선박이 전복될 위험이 커집니다.
     </p>
     <br>
      <a href="http://www.astronomer.rocks/news/articleView.html?idxno=86142"  target="_blank"><button class="w3-button w3-round-xxlarge w3-white w3-center">배는 왜 넘어지지 않을까?<i class="fa fa-external-link" aria-hidden="true"></i></button></a>

<br><br><br>
 </div>
 <div>
   <br><br><br>
   <p>8년 넘게 세월호를 취재해온 뉴스타파 김성수 기자는 다음과 같이 내인설과 열린안의 특징을 정리했습니다.</p>
   <button class="collapsible"><i class="fa fa-hand-o-right"></i> </i>내인설과 열린안의 특징 <tr>▽</button>
   <div class= "content">
       <p><b>첫째,</b> 내인설은 세월호의 도입부터 사고 순간까지 전 과정이 전후 인과관계를 갖는 일련의 시나리오로 정리되어 있는 반면, ‘가’안은 선체의 급격한 우선회 요인이 수중물체가 가한 외력일 가능성만 제기할 뿐 현실적인 시나리오(잠수함 등 동력물체인지 무동력 부유물체인지 혹은 생물체인지)를 내놓지 못하고 있다.<br><br>

<b>둘째, </b>내인설의 핵심 내용들은 마린과 브룩스벨 등 외부 전문기관의 판단과 거의 일치하고 있는 반면, ‘가’안의 핵심 내용들은 이들 기관의 판단과 상당 부분 배치된다.<br><br>

<b>셋째,</b> 내인설은 모든 내용에 대해 서명 위원 3인의 입장이 정확히 일치하고 있지만, ‘가’안의 경우 서명 위원 3인 중 권영빈, 이동권 위원의 입장과 장범선 위원의 입장이 일치하지 않는다.<br><br>
       </p>
   </div>
 </div>

</div>

<div class = "w3-container" id = "1">
  <div style = "padding:80px">
  </div>
  <h2>내인설과 열린안</h2>
  <tr>
<b><p>선조위 보고서란</p></b>
<p>2017년 4월, 인양이 완료된 세월호 선체를 정밀조사하고 진상 규명을 하고자 세월호 선체조사위원회 (이하 선조위)가 만들어졌습니다.>

선조위는 선내에서 DVR과 블랙박스, 휴대전화를 회수하고, 이를 복원해 분석했습니다. 또한 AIS 항적 또한 복원을 진행했습니다. 그러나 데이터는 부족하고 불완전했고, 선조위는 많은 것을 가정하고 추정해야 했습니다. <br>

<br><br>데이터 부족은 종종 상이한 해석을 낳았고, 선조위의 해석 방향은 두 갈래로 갈라졌습니다. 침몰 원인이 선체 내부적 문제에서 비롯되었다는 ‘내인설’과,
현재로선 침몰 원인을 확정할 수 없고 외력을 포함한 추가 조사가 필요하다는 ‘열린 안’이 각각 발표되었습니다. 하지만 큰 틀에서까지 두 보고서가 내용을 달리한 건 아닙니다.
 <u>급선회</u>가 일어났고, <u>화물 과적과 평형수 기준 미달</u>은 복원성을 현저히 낮췄으며, <u>열려있던 수밀문과 맨홀</u>은 침몰을 가속시켰다는 것 말입니다.</p>
<br><br>
 <b><p>내인설과 열린안이 상이한 부분</p></b>
 <button class="collapsible"><i class="fa fa-hand-o-right"></i> </i>복원성(GoM) <tr>▽</button>
 <div class= "content">
     <p>복원성 값이 클수록, 배는 안정적입니다. <br><br>

       <b>내인설></b> 0.406의 GoM으로 인천항을 출발해, 사고 지점에서는 청수와 연료유가 소모돼 GoM이 0.306까지 떨어졌다.<br><br>

       <b>열린 안></b>  0.71의 GoM으로 인천항을 출발, 사고 당시 GoM은 0.59였다. 즉, GoM은 그다지 나쁘지는 않았다.
     </p>
 </div>
 <button class="collapsible"><i class="fa fa-hand-o-right"></i> </i>급선회 원인 <tr>▽</button>
 <div class= "content">
   <br>

       <b>내인설></b>조타펌프 솔레노이드 밸브 고착이다.<br><br>

       <b>열린 안></b> 확정할 수 없다. 좌현 핀안정기가 한계각도의 2배 이상으로 돌아간 채 손상되어 있었고, 이가 외력 작용의 흔적일 수도 있다.
     </p>
     <br>
 </div>
 <button class="collapsible"><i class="fa fa-hand-o-right"></i> </i>선체 균열 원인 <tr>▽</button>
 <div class= "content">
     <p>선체를 인양하자, 좌현 선미쪽 외판에 선체의 길이방향으로 찢어진 균열이 있었습니다.<br><br>

       <b>내인설></b>선체 인양 과정에서 발생한 균열이다.<br><br>

       <b>열린 안></b> 이 흔적들이 외력 작용의 결과일 가능성도 배제할 수 없다.
     </p>
 </div>
 <div>
   <br><br><br>
   <p>8년 넘게 세월호를 취재해온 뉴스타파 김성수 기자는 다음과 같이 내인설과 열린안의 특징을 정리했습니다.</p>
   <button class="collapsible"><i class="fa fa-hand-o-right"></i> </i>내인설과 열린안의 특징 <tr>▽</button>
   <div class= "content">
       <p><b>첫째,</b> 내인설은 세월호의 도입부터 사고 순간까지 전 과정이 전후 인과관계를 갖는 일련의 시나리오로 정리되어 있는 반면, ‘가’안은 선체의 급격한 우선회 요인이 수중물체가 가한 외력일 가능성만 제기할 뿐 현실적인 시나리오(잠수함 등 동력물체인지 무동력 부유물체인지 혹은 생물체인지)를 내놓지 못하고 있다.<br><br>

<b>둘째, </b>내인설의 핵심 내용들은 마린과 브룩스벨 등 외부 전문기관의 판단과 거의 일치하고 있는 반면, ‘가’안의 핵심 내용들은 이들 기관의 판단과 상당 부분 배치된다.<br><br>

<b>셋째,</b> 내인설은 모든 내용에 대해 서명 위원 3인의 입장이 정확히 일치하고 있지만, ‘가’안의 경우 서명 위원 3인 중 권영빈, 이동권 위원의 입장과 장범선 위원의 입장이 일치하지 않는다.<br><br>
       </p>
   </div>
 </div>
 <p style ="font-size:11px;">[출처]<br>
김성수, “세월호 선조위 종합보고서 세부 분석… 사실상 ‘내인설 4 vs 2 외력설’”, 「뉴스타파」, 2018.08.07., https://newstapa.org/article/a_ku5 </p>
<a href="https://newstapa.org/article/a_ku5"  target="_blank"><button class="w3-button w3-round-xxlarge w3-white w3-center">기사 바로가기<i class="fa fa-external-link" aria-hidden="true"></i></button></a>

</div>



<div class = "w3-container" id = "2">
      <div style = "padding:80px">
      </div>
      <h2>CCTV 바꿔치기 의혹</h2>
    <p>2014년 6월 22일 해군이 수거한 세월호 DVR*과 이틀 후 법원에 제출된 DVR은 다르다?</p>
    <p style ="font-size:11px;">*DVR:CCTV와 비슷한 기기로, 영상을 녹화한 후 하드디스크에 저장함. </p>
    <div class="w3-center w3-container">
    <img src="../DATA/2.jpg" style="width:70%; align: center;">
    </div>
    <b><p>1) 고무 패킹 유/무</p></b>
    <p><i>
    수중 영상 속에서 오른쪽 손잡이 안쪽의 고무 패킹이 떨어져 있었다. 하지만 바지선에 올라온 35분 뒤 영상에서는 고무 패킹이 부착되어 있었다. 떨어져 있던 고무 패킹이 갑작스럽게 부착될 일은 없으니 DVR은 바꿔치기된 것이다.
    </p></i>
    <button class="collapsible"><i class="fa fa-hand-o-right"></i> </i>바로잡기 <tr>▽</button>
    <div class= "content">
        <p> 고무 패킹은 <b>떨어진 것이 아닌, 압축된 것</b>입니다.

    고무 패킹의 재질은 쉽게 눌리는 압축 스펀지였습니다. 5기압 압력을 2개월동안 받고 있었기에, 고무 패킹 부분이 압축되어 떨어진 것처럼 보인 것입니다.</p>
    </div>

    <br><br><b><p>2) 열쇠 구멍 덮개에 생긴 변화</p></b>
    <p><i>
    수중 영상 속에서는열쇠 구멍이 잠금 상태였고, 세로 방향으로 위치해 있었다. 하지만 바지선에 올라온 35분 뒤 영상에서는 열쇠 구멍이 열림 상태였고, 가로 방향으로 위치해 있었다.
    잠금 상태였던 열쇠 구멍이 열림 상태가 되는 것은 불가능하다. 따라서 DVR이 다른 장비로 바꿔치기된 것이다.</i>
    </p>
    <button class="collapsible"><i class="fa fa-hand-o-right"></i> </i>바로잡기 <tr>▽</button>
    <div class= "content">
    <p>열쇠 구멍 안의 <b>걸쇠는 이미 부러져 있었습니다</b>.

    열쇠 구멍은 계속 잠금 상태였고, 세로 방향으로 위치해있었습니다. 해경에 넘기기 전에 앞 부분 커버를 열었지만, 이미 안에서 걸쇠가 부러져 있었기에 스스로 열리며 열림 상태가 된 것입니다.</p>
    </div>
    <br>
    <a href="https://newstapa.org/article/Otx1l"  target="_blank"><button class="w3-button w3-round-xxlarge w3-white w3-center">[세월호 CCTV 의혹 검증②] ‘DVR 바꿔치기’, 과연 가능했나 <i class="fa fa-external-link" aria-hidden="true"></i></button></a>
</div>
<div class = "w3-container" id = "3">
      <div style = "padding:80px">
      </div>
      <h2>전원 구조 오보 사태</h2><hr>
    <p>‘승객 전원 구조’ 표현의 발원지는 단원고 강당이었습니다. 이를 듣고 각 방송사는 전원 구조 뉴스를 송출했습니다.
      단원고에서는 ‘승객 전원 구조’ 문자 발송 전에 해경에게 사실인지 질문했습니다. 송출된 뉴스를 본 해경은 사실이라고 답하였고, 문자가 발송되었습니다.
     해경 지휘부가 현장 진행 상황을 전달 받지 못했기 때문에 검증 또한 제대로 이루어질 수 없었습니다.</p>
   <br>
   <p>10:47 KBS, "해군, 탑승객 전원 선박 이탈, 구명장비 투척 구조 중"이라고 오보<br>

11:01 MBN,MBC "전원 구조" 오보<br>

11:02 SBS 오보<br>

11:03 YTN, 채널A 오보<br>

11:06 뉴스Y, TV조선 오보<br>

11:07 JTBC 오보<br>

11:26 KBS 오보<br>
<br>
이후 언론사는 사실 보도를 통한 정정 보도만 진행했습니다.<br>

=> 사실 확인이 제대로 이루어지지 않은 꼬리물기식 오보 사태였습니다.</p>
</div>

<div class = "w3-container" id = "4">
      <div style = "padding:80px">
      </div>
      <h2>세월호의 직립 과정  </h2><hr>
    <p>2018년 5월 10일, 침몰 4년 만에 누워있던 세월호 선체가 직립했습니다.
      1만 톤 규모의 해상 크레인과 앞뒤 64개의 와이어를 활용해 선체를 끌어당겼습니다.</p>
   <br>
   <div class="w3-center w3-container">
  <img src="../DATA/4.jpg" style="width:70%; align: center;">
   </div>
   <p><b>**<타임 라인>**</b><br>

2018년 2월 21일 - 세월호를 목포 신항에 인양했습니다.<br>

2018년 2월 22일 - 세월호의 내외부 선체를 보강했습니다.<br>

2018년 4월 9일 - 수직 빔을 설치했습니다.<br>

2018년 5월 5일 - 1만 톤 규모의 해상 크레인을 접안했습니다.<br>

2018년 5월 7일 - 해상 크레인 계류를 위하여 밧줄을 설치하고, 후크를 체결했습니다.<br>

2018년 5월 9일 - 세월호 선체를 완전히 직립시키기 위하여 테스트를 진행했습니다.<br>

2018년 5월 10일 - 세월호 선체가 직립했습니다.</p>

<a href="https://www.yna.co.kr/view/GYH20180510000400044"  target="_blank"><button class="w3-button w3-round-xxlarge w3-white w3-center">[그래픽] 4년 만에 바로 선 세월호 직립 과정 <i class="fa fa-external-link" aria-hidden="true"></i></button></a>
</div>
<div class = "w3-container" id = "5">
      <div style = "padding:80px">
      </div>
      <h2>AIS 조작설</h2><hr>
    </b><p>AIS란?</p></b>
    <p>선박의 항해 안전 및 보안 강화를 위하여 선박-선박, 선박-육상간 <b>정보를 송수신할 수 있는 자동 시스템</b>입니다. 해양 사고 발생 시, 선박의 위치 정보를 수집하고 제공하여 수색, 구조 등을 지원합니다.</p>
   <br>

 <p>

1) 참사 직후 여러 차례 AIS 항적을 누락하여 발표했다?<br></p>
<button class="collapsible"><i class="fa fa-hand-o-right"></i> </i>바로잡기 <tr>▽</button>
<div class= "content">
    <p> 발표한 AIS 항적과 다양한 민간 수신처에 저장된 AIS 항적이 일치합니다.
      만일 AIS 항적을 조작하려면, 다양한 민간 수신처에 저장된 AIS 항적 또한 조작해야 합니다.
       하지만 이는 민간 수신처의 범위가 넓어 예측할 수 없기에 불가능합니다.</p>
</div>
<p>
2) VTS (관제실과 선박 간의 교신 장치) 데이터 중 일부분이 무음 처리됐다?<br></p>
<button class="collapsible"><i class="fa fa-hand-o-right"></i> </i>바로잡기 <tr>▽</button>
<div class= "content">
    <p> 2) 무음 처리된 VTS 데이터는 세월호가 아닌, 다른 배와 교신한 데이터입니다.
       개인 정보 침해라고 판단한 해경 직원이 관련이 없는 해당 부분을 무음 처리를 한 것입니다.</p>
</div>
<br>
<a href="https://newstapa.org/article/M_TSv"  target="_blank"><button class="w3-button w3-round-xxlarge w3-white w3-center">‘세월호 AIS조작 없었다’...해외 데이터와 비교 분석 결과 <i class="fa fa-external-link" aria-hidden="true"></i></button></a>
</div>

<div class = "w3-container" id = "6">
      <div style = "padding:80px">
      </div>
      <h2>세월호 선내 차량 블랙박스의 활용</h2><hr>
    <p>세월호 선내 차량 블랙박스는 침몰 순간의 목격자였습니다. 블랙박스를 활용하여 물방울이 떨어지는 각도, 쇠줄의 각도, 물이 차오르는 각도 등을 파악할 수 있었습니다.</p>
   <br>

<h4>블랙박스로 알아낸 것 </h4>
<button class="collapsible"><i class="fa fa-hand-o-right"></i> </i>세월호의 초당 기울기 <tr>▽</button>
<div class= "content">
    <p> 오전 8시 49분 36초 - 선체가 21도 기울어졌습니다.<br>

오전 8시 49분 59초 - 왼쪽으로 47도 기울어졌습니다.<br>

⇒ 이러한 데이터를 통하여, 세월호가 초당 2도 정도 기울어졌다는 것을 알 수 있습니다.</p>
</div>
<br>
<button class="collapsible"><i class="fa fa-hand-o-right"></i> </i>G센서 (충격 감지 장치) <tr>▽</button>
<div class= "content">
    <p> 선내 차량들의 G센서 데이터를 통하여, 당시 세월호가 외부 충격을 받지 않았다는 것을 알 수 있습니다.
      선체가 기울어져 차량들이 왼쪽으로 쏠리는 순간에만 G센서 값에 변화가 생겼기 때문입니다.</p>
</div><br>
<button class="collapsible"><i class="fa fa-hand-o-right"></i> </i>해수 유입 경로 <tr>▽</button>
<div class= "content">
    <p> 선내 차량들의 G센서 데이터를 통하여, 당시 세월호가 외부 충격을 받지 않았다는 것을 알 수 있습니다.
      선체가 기울어져 차량들이 왼쪽으로 쏠리는 순간에만 G센서 값에 변화가 생겼기 때문입니다.</p>
</div>
<br>
<a href="https://newstapa.org/article/GVUhq"  target="_blank"><button class="w3-button w3-round-xxlarge w3-white w3-center">세월호 블랙박스 영상 추가 입수(1) ‘깨진 창문 해수 유입’ 확인 <i class="fa fa-external-link" aria-hidden="true"></i></button></a>
</div>

<div class="w3-container" style="padding-bottom:200px;">
  <br><br><br>
  <h3>출처 및 더 알아보기</h3>
  <hr>
  <p><b>
타임라인 별 음성기록 / 세월호 판결문</b> <a href="https://sewolarchive.org/about"  target="_blank"><i class="fa fa-hand-o-right"></i>세월호 아카이브</p></a>
  <p><b>
시청각 타임라인 / 의문과 팩트체크 </tr></tr></b><a href="https://sewolarchive.org/about"  target="_blank"><i class="fa fa-hand-o-right"></i>세월호, 사실과 기록  </p></a><br>
<p style ="font-size:11px;">[출처]<br>
박치모, “세월호가 불러온 평형수에 대한 오해”, 「경향신문」, 2017.04.11. , https://m.khan.co.kr/opinion/contribution/article/201704112114025 </p>
<p style ="font-size:11px;"><br>
안준상, “배는 왜 넘어지지 않을까?”, 「이웃집 과학자」, 2018.08.29., http://www.astronomer.rocks/news/articleView.html?idxno=86142 </p>
<p style ="font-size:11px;"><br>
사이언스올, “배가 뜨는 원리”, 「Science Times」, 2004.09.09. , https://www.sciencetimes.co.kr/news/%EB%B0%B0%EA%B0%80-%EB%9C%A8%EB%8A%94-%EC%9B%90%EB%A6%AC/ </p>

</div>

</div>
</div>
</div>
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight){
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
        }
      });
    }
</script>
<style>
.collapsible {
  background-color: #ecd17a;
    color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
*,h3 {
  font-family: 'Gowun Dodum', sans-serif;
}

.active, .collapsible:hover {
  background-color: #fcc000;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.bottomNav{
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.deo {
  margin: auto;
  align-items: center;
  font-size:12px;
  color: black;
  background-color: #ecd17a;
}
#aa {
  width: 50rem;
  margin: 0 auto;
    background-color: #D1E0EC;

}
@media only screen and (max-width: 600px) {
  #aa {
    width: 100%;
  }
}

*,h2,h3,h4 {
  font-family: 'Gowun Dodum', sans-serif;
}
.link-icon { position: relative; display: inline-block; width: auto;    font-size: 14px; font-weight: 500; color: #333; margin-right: 10px; padding-top: 50px; }
.link-icon.twitter { background-image: url(../DATA/icon-twitter.png); background-repeat: no-repeat; }
.link-icon.facebook { background-image: url(../DATA/icon-facebook.png); background-repeat: no-repeat; }
.link-icon.kakao { background-image: url(../DATA/icon-kakao.png); background-repeat: no-repeat; }

</style>
</body>
</html>
